    <%- include('partials/head', {title: 'Blog'}); %>
    <%- include('partials/header'); %>

  <h1>Blog</h1>
  <ul>
    <% posts.forEach(post => { %>
      <li><a href="/blog/<%= post.slug %>"><%= post.title.split('.')[0] %></a></li>
    <% }) %>
  </ul>

  <!-- Ad slot -->
  <div style="margin-top:40px;border-top:1px solid #ccc;padding-top:20px;">
    <p>Ad space here</p>
  </div>

  <%- include('partials/footer'); %>
