    <%- include('partials/head', {title: 'Post'}); %>
    <%- include('partials/header'); %>

    <!-- <h1><%= title %></h1> -->
    <div><%- html %></div>

    <p style="margin-top: 20px">
      <a href="/blog">← Back to Blog Posts</a>
    </p>

    <!-- Inline ad slot -->
    <div
      style="margin-top: 40px; border-top: 1px solid #ccc; padding-top: 20px"
    >
      <p>Ad space here</p>
    </div>
    <%- include('partials/footer'); %>

